.body {
  height: 100vh;
}
.container {
  height: 100%;
  font-family: "Bai Jamjuree", sans-serif;
}
.container h2 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
.container p {
  color: hsl(201, 11%, 66%);
  font-size: 1.125rem;
  font-weight: 400;
}
.head {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9)
    ),
    url("images/bg-header-desktop.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-top: 8vh;
  height: 8vh;
  width: auto;
}
.head h1 {
  color: hsl(210, 10%, 33%);
  line-height: 1rem;
  margin: 5vh 30vw 5vh 30vw;
  font-weight: 600;
}
.head p {
  margin: 0 35vw 3vh 35vw;
  line-height: 1.5rem;
  text-align: center;
}
.download button {
  padding: 0;
  width: 8vw;
  height: 4vh;
  border-radius: 12vh;
  border: 1px transparent;
  color: white;
  font-size: 0.75rem;
  line-height: 2.5rem;
}
.download button:first-child {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 0.15rem rgb(33, 159, 137);
}
.download button:last-child {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 0.15rem rgb(89, 100, 189);
}
.snippets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snippets h2 {
  line-height: 1rem;
  margin-top: 5vh;
}
.snippets p {
  margin: 0 30vw 8vh 30vw;
  line-height: 1.5rem;
  text-align: center;
}

.features {
  display: flex;
}
#computer {
  margin: 0 9vw;
  height: auto;
  width: 50vw;
}
.description {
  margin: 7vh 7vw 7vh 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.description h2 {
  line-height: 0.5rem;
}
.description p {
  margin-right: 13vw;
  line-height: 2rem;
}

.clipboard {
  
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1439px) and (min-width: 375px) {
}
/* @media screen and (min-width: 1440px) {
} */
