.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin: 5vh 5vw;
    font-size: 2rem;
  }
  p {
    text-align: center;
    line-height: 1.5rem;
    margin: 0 10vw;
    margin-bottom: 2vh;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9)
    ), */
    background-image: url("../images/bg-header-desktop.png");
    background-size: 100% 75%;
    background-repeat: no-repeat;
  }
  #logo {
    margin-top: 12vh;
    height: 10%;
    width: auto;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .head {
    h1 {
      font-size: 2.3rem;
    }
    p {
      margin: 0 25vw 3vh 25vw;
    }
    &__title {
      background-size: 100% 100%;
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .head {
    &__title {
      background-size: 100% 100%;
    }
    h1 {
      font-size: 2.3rem;
    }
    p {
      margin: 0 30vw 3vh 30vw;
    }
  }
}
@media screen and (max-width: 1920px) and (min-width: 1440px) {
  .head {
    &__title {
      background-size: 100% 100%;
    }
    h1 {
      font-size: 2.3rem;
    }
    p {
      margin: 0 35vw 3vh 35vw;
    }
  }
}
@media screen and (min-width: 1921px) {
  .head {
    &__title {
      background-size: 100% 100%;
    }
    h1 {
      font-size: 2.3rem;
    }
    p {
      margin: 0 35vw 3vh 35vw;
    }
  }
}
